@using MyMoney.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li style="text-align: center; vertical-align: middle;">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
    <li style="text-align: center; vertical-align: middle;">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-link">Изход</button>
        </form>
    </li>
}
else
{
    <li style="text-align: center; vertical-align: middle;">
        <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}